body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#fullscreen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
}

#test-container {
  max-width: 800px;
  text-align: center;
}

#image-container {
  position: relative;
}

#ishihara-image {
  zoom: 150%;
  height: 150%;
  width: 150%;
  padding-top: 300px;
}

#button-container {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translate(-50%, -50%);
}

#answer-container,
#navigation-buttons {
  margin-bottom: 20px;
}

#next-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
